@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');


/* todas as páginas */

body{
    margin: 0px;
}

.navigation-bar{
    background-color: #1d5266 ;
    height: 200px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
    border: solid 1px;
}

.header h1{
   
    color: white;
    font-size: 100px;
    font-family: dancing script;
    margin-top: 40px;
    font-weight: 500;
    display: flex;
}

.logomarca img{
    width: 350px;
    height: 200px;
}

.navigation-links{
    margin-top: 97px;
}

.navigation-links a{
    text-decoration: none;
    color: aliceblue;
    font-size: 35px;
    font-family: ephesis;
    margin: 15px;
}


/* home */
.item img{
    width: 100%;
    height: 930px;
}

.first-section{
    background-color: #dc660b;
    width: 100%;
    height: 110px;
    margin-top: -5px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: ephesis;
    font-weight: 100;
    font-size: 50px;
    color: aliceblue;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #1d5266;
}

.second-section iframe{
    height: 600px;
    width: 800px;
    border: solid #1d5266 1px;
    margin: 10px;
}

.third-section iframe{
    height: 600px;
    width: 800px;
    border: solid #1d5266 1px;
    margin: 10px;
}

.second-section h2{
    font-family: ephesis;
    font-size: 50px;
    color: aliceblue;
    margin: 10px;
    text-align: center;
    font-weight: 300;
    margin-top: 30px;
}

.third-section h2{
    font-family: ephesis;
    font-size: 50px;
    color: aliceblue;
    margin: 10px;
    text-align: center;
    font-weight: 300;
    margin-top: 30px;
}
/* contato */


.contato-div fieldset{
    border: none;
    font-family: ephesis;
    font-weight: 600;
    font-size: 45px;
    background-color: aliceblue;
    width: fit-content;
    border-radius: 5px;
    box-shadow: #1d5266 5px 5px 15px 5px;
    
}

.logo-contato img{
    height: 100%;
    width: 100%;
    margin-left: 120px;
}

.logo-contato{
    
  position: fixed;
  left: 30%;
  top: 20%;
}

.contato-div{
    display: flex;
    position: fixed;
    top: 25.5%;
    left: 15%;
}

.contato-div input{
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}

.label-checkbox{
    font-size: 30px;
}


#checkbox{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

#name{
    margin-left: 32px;
}

#email{
    margin-left: 8px;
}

#button{
    height: 50px;
    width: 200px;
    background-color: #dc660b;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
    margin-top: 20px;
    margin-left: 10px;
}

#button:hover{
    background-color: #1d5266;
    cursor: pointer;
}


/* sobre */

#body-sobre{
    background-color:#5485be;
}

.sobre-pousada{
    width: 100%;
    height: 110px;
    margin-top: 200px;
    background-color: aliceblue;  
    display: flex;
    border: solid black 1px;
    border-top: none;
}

.sobre-pousada h2{
    font-family: ephesis;
    font-size: 50px;
    color:black;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-left: 120px;
    
}

.artigo-pousada img{
    width: 400px;
    
}

.artigo-pousada p{
    display: block;
    font-size: 35px;
    font-family: dancing script;
    font-weight: 600;
}

.artigo-pousada {
    width: 1000px;
    padding: 24px;
    margin: 0 auto;
    display: block;
    box-shadow: #1d5266 5px 5px 15px 5px;
    border-radius: 5px;
    margin-top: 50px;
    background-color: aliceblue;
}

.bella{
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.frajola{
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.graziemae{
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.bem-vindo-paraiso{
    width: 100%;
    height: 110px;
    margin-top: 50px;
    background-color: aliceblue;  
    display: flex;
    justify-content: center;
}
.bem-vindo-paraiso h2{
    font-family: ephesis;
    font-size: 60px;
    color: black;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-align: center; 
}

.imagem-grid img{
    width: 400px;
    height: 270px;
    border-radius: 50px;
    padding: 10px;

}

.imagem-grid{
    margin: 10px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    /* background-color: aliceblue; */
    margin-left: 17%;
}
/* referencias */
