@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');


/* todas as páginas */

body{
    margin: 0px;
}

.navigation-bar{
    background-color: #1d5266 ;
    height: 200px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-around;
}

.header h1{
   
    color: white;
    font-size: 100px;
    font-family: dancing script;
    margin-top: 40px;
    font-weight: 500;
    display: flex;
}

.logomarca img{
    width: 350px;
    height: 200px;
}

.navigation-links{
    margin-top: 97px;
}

.navigation-links a{
    text-decoration: none;
    color: aliceblue;
    font-size: 35px;
    font-family: ephesis;
    margin: 15px;
}


/* home */
.item img{
    width: 100%;
    height: 930px;
}

.first-section{
    background-color: #dc660b;
    width: 100%;
    height: 110px;
    margin-top: -5px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: ephesis;
    font-weight: 100;
    font-size: 50px;
    color: aliceblue;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #1d5266;
}

.second-section iframe{
    height: 600px;
    width: 800px;
    border: solid #1d5266 1px;
    margin: 10px;
}

.third-section iframe{
    height: 600px;
    width: 800px;
    border: solid #1d5266 1px;
    margin: 10px;
}

.second-section h2{
    font-family: ephesis;
    font-size: 50px;
    color: aliceblue;
    margin: 10px;
    text-align: center;
    font-weight: 300;
    margin-top: 30px;
}

.third-section h2{
    font-family: ephesis;
    font-size: 50px;
    color: aliceblue;
    margin: 10px;
    text-align: center;
    font-weight: 300;
    margin-top: 30px;
}
/* contato */

/* sobre */


/* referencias */
